.feature-def-container {
  width: 400px;
  height: 100%;
  // height: 400px;
  padding: 20px;
  // margin: 95px 20px 20px 15px;
  overflow: auto;

  .button {
    margin-top: 15px;
    width: 80px;
    background: #325e3e;
    color: white;
    &[class^='Mui'] {
      box-sizing: content-box !important;
    }
  }
}

.screening-tool-header {
  width: 100%;
  height: 35px;
  padding-right: 0px;
  padding-left: 10px;
  padding-top: 6px;
  top: 0px;
  left: 0px;
  position: absolute;
  background: #325e3e;

  .card-header {
    vertical-align: middle;
    margin: auto;
    &[class^='Mui'] {
      color: white;
    }
  }
}
.feature-label {
  padding-top: 20px;
}

.form {
  color: white;
  .dropdown-selector {
    width: 100%;
    margin-bottom: 10px;
    &[class^='Mui'] {
      // &:focus {
      &:hover {
        border: 5px dotted pink !important;
      }
    }
  }
}
.slider-container {
  // padding-bottom: 15px;
  .slider {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px;

    button {
      &[class^='Mui'] {
        background: #325e3e;
        &:hover {
          box-shadow: 0px 0px 0px 9px #325e3e59;
        }
        &[class^='MuiSlider-activated'] {
          //TODO: figure out what long click + drag property is
          box-shadow: 0px 0px 0px 18px #325e3e59;
        }
      }
    }
    div {
      &[class^='Mui'] {
        background: #325e3e;
      }
    }
  }
  .slider-values {
    display: flex;
    justify-content: space-between;
    max-width: 250px;
  }
}
.double-selects {
  &[class^='Mui'] {
    justify-content: space-between;
    flex-direction: row;
    display: block;
  }
  .range-selector {
    margin-right: 65px;
  }
  &[class^='MuiInputBase'] {
    margin-right: 50px;
    padding-left: 50px;
  }
}
svg {
  &[class^='Mui'] {
    // padding-right: 14px;
  }
}
