.data-layer {
  // // z-index: 10;
  // width: 300px;
  // height: 200px;
  // padding: 20px;
  // top: 60px;
  // left: 10px;
  // overflow: auto;
  // box-sizing: content-box !important;
  // display: flex;
  // justify-content: center;
  flex-direction: row;
  // position: absolute;
  // background: #fff;
  display: flex;
  // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  // line-height: 1.3em;

  .button {
    margin-top: 15px;
    width: 80px;
    background: #325e3e;
    color: white;
    &[class^='Mui'] {
      box-sizing: content-box !important;
    }
  }
}
.slider-container {
  transform: translateY(+50%);
  width: 65px;
  .layer-opacity-slider {
    width: 65px;
  }
}
.layer-drag-icon {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  width: 10px;
  height: 20px;
  margin: 0;
  background-position: center;
  background-size: cover;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgMCA0OCA0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAyOC4yN2g0OHYyLjE4SDB6TTAgMTdoNDh2Mi4xOEgweiIvPjwvc3ZnPg==);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNOSAzaDJ2Mkg5VjNtNCAwaDJ2MmgtMlYzTTkgN2gydjJIOVY3bTQgMGgydjJoLTJWN20tNCA0aDJ2Mkg5di0ybTQgMGgydjJoLTJ2LTJtLTQgNGgydjJIOXYtMm00IDBoMnYyaC0ydi0ybS00IDRoMnYySDl2LTJtNCAwaDJ2MmgtMnYtMnoiLz48L3N2Zz4=);
}
.toggle-container {
  height: 20px;
  display: flex;
  align-items: center;
  margin-left: 8px;
}
.switch {
  position: relative;
  display: inline-block;
  height: 14px;
  width: 34px;
  border-radius: 7px;
  background: #325e3e;
  box-sizing: border-box;
  box-shadow: 0 0 1px 0.05em rgba(0, 0, 0, 0.3);
  
  span {
    border-radius: 7px;
    display: block;
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 300ms;
  }
    &:checked {
      background: #e0e0e0;
    }
}


.switch input {
  position: absolute;
  opacity: 0;
  width: 12px;
  height: 12px;
  margin: 0;
}

.switch div {
  border: 1px solid #ccc;
  margin: 1px;
  height: 12px;
  width: 12px;
  border-radius: 1em;
  background: #FFF;
  z-index: 10;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
  -webkit-transition: ease-in-out 300ms;
  -moz-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
  -webkit-transform: translate3d(19px, 0, 0);
  -moz-transform: translate3d(19px, 0, 0);
  transform: translate3d(19px, 0, 0);
}

.switch input:checked + div {
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
